.new {
    background-image: url('../../assets/web_page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* margin-top: -8rem; */
  }
  
  .landing {
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 5rem;
    
  }
  .landing h1{
    margin-bottom: 12rem;
    font-size: 5rem;
    font-weight: bolder;
  }
  
